/*Estilos diagramacion*/
*
{
	margin: 0px 0px;
	padding:0px 0px;
}

header
{
	width: 90%;
	height: 80px;
	margin: 0px auto;
}

nav 
{
	width: 50%;
	height: 80px;
	margin-left: 20px;
	float: right;
}

nav ul li
{
    width: 24%;
    height: 80px;
    float: left;
    color: rgb(51,47,44);
    font-family: D;
    font-size: 14px;
    list-style: none;
    text-align: center;
    line-height: 80px;
    margin: 0px auto;
}

nav li a
{
	color: rgb(0,0,0);
	text-decoration: none;
    transition: ease all 0.5s;
}
nav li a:hover
{
	color: rgb(0,0,0);
	text-shadow: 1px 1px 0px rgb(200,200,200)
}
nav li:hover
{
	overflow: visible;
}
aside
{
	width: 3%;
	height: 220px;
	background-color: rgb(240,245,245);
	position: fixed;
	top: 80px;
}
.rrssbox
{
	width: 100%;
	height: 190px;
}
.rrssbox li
{
	list-style: none;
	width: 70%;
	padding: 2px;
	margin: 5px 4px;
}
.rssbox li img
{
	width: 80%;
}
.rrssbox li a  
{
	text-decoration: none;
	display: flex;
}
.rrssbox li a :hover
{
	text-decoration: none;
	box-shadow:  0px 0px 10px rgba(240,245,245,0.2);
}

.cuerpo
{
	width:90%;
	font-size: 30px;
	font-family: C;
    margin: 5px auto;
    background-color: rgb(240,245,245);
}

.ven 
{
	width: 100%;
	height: 160px;
	background-color: black;
	color: white;
	font-family: D;
	font-size: 34px;
	text-align: center
}

.img_galeria
{
	width: 160px;
	height: 160px;
	margin: -80px auto;
	border: 4px solid white;
	border-radius: 80px;

}
.img_galeria img
{
    max-width: 160px;
    max-height: 160px;
    border-radius: 80px;
    margin: 0px auto;
}


/*estilos para seccion de  cajas*/
.cajas
{
	width: 90%;
	min-height: 300px;
	display: flex;
	margin: 20px auto;
}

.caja 
{
	width: 30%;
	min-height: 300px;
	float: left;
	box-sizing: border-box;
	margin: 70px auto;
	color: black;
	font-family: C;
	font-size: 15px;
	line-height: 30px;
	text-align: justify;
	border-right: 1px solid rgba(0,0,0,0.5);
}
.hoja
{
	width: 100%;
	margin-top: -50px;
}
.hoja > div
{
	display: inline-block;
	vertical-align: top;
}
.estudios
{
    width: 45%;
    line-height: 25px;
    margin: 0px 20px;
}
h3
{
	font-family: D;
	font-size: 25px;
	margin-top: 10px;
}
h4
{
	font-family: D;
	font-size: 20px;
	margin-top: 10px;
}

h5
{
	font-family: D;
	font-size: 15px;
	margin-top: 10px;
}

p
{
	font-family: C;
	font-size: 15px;
	margin-top: 20px;
}

.laboral
{
	width: 45%;
	line-height: 25px;
	margin: 0px 10px;
}
.cursos
{
	width: 50%;
	margin: 100px auto;
	line-height: 20px;
	text-align: justify;
}
section .bajo 
{
	width: 100%;
	margin-bottom: 20px;
}

footer
{
	width: 100%;
}

.bajo img
{
	width: 100%;
	margin: -5px 0px;
}
.metadatos
{
	width: 100%;
	float: right;
	background-color: black;
	display: flex;
}
.mapa 
{
	width: 40%;
	height: 200px;
	padding: 10px 10px;
    box-sizing: border-box;
}

.direccion
{
    width: 20%;
    height: 220px;
    margin-top: 25px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    font-family: B;
    font-size: 16px;
    line-height: 30px; 
}
.contacto
{
	width: 20%;
    height: 220px;
    margin-top: 25px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    font-family: B;
    font-size: 16px;
    line-height: 30px;
}
.sas
{
	width: 20%;
}
.sas img
{
    width: 75%; 
}

.info
{
	width: 100%;
	height: 50px;
	background-color: navy;
	clear: both;
}

.menuinfo 
{
    width: 80%;
    margin: 0px auto;
    height: 50px;
    display: flex;

}
.menuinfo li 
{
    list-style: none;
    line-height: 50px;
    width: 20%;
    height: 50px;
    color: white;
    float: left;
    font-family: A;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
}
.menuinfo li a
{
	text-decoration: none;
	color: white;
}
.menuinfo li a:hover
{
	text-decoration: underline;
}

.infodiseño
{
	width: 100%;
	height: 20px;
	background-color: rgb(240,245,245);
	line-height: 18px;
    font-family: B;
    font-size: 14px;
    color: black;
    text-align: center;
    clear: both;
}